html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 2.2rem;
    color: seashell;
    opacity: 0.9;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-device-width: 420px) {
    body {
        font-size: 1.8rem;
    }
}

nav {
    background-color: black;
    border-bottom: 1px solid seashell;
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a, a:hover, a:active, a:visited { color: white; }

ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    margin-right: 10px;
    align-items: space-between;
}

@media screen and (max-device-width: 720px) {
    ul {
        font-size: 1.6rem;
    }

    li {
        font-size: 1.6rem;
    }
}

li {
    margin-left: 30px;
}

@media screen and (max-device-width: 420px) {
    
    .mobile-li {
        display: none;
    }
}

.top {
    display: flex;
    justify-content: center;
}


.banner {
    display: block;
    height: 700px;
    width: 1200px;
    background: url("../Images/mission-background.webp");
    background-size: cover;
}

@media screen and (max-device-width: 420px) {
    .banner {
        width: 100vh;
        height: 75vh;
    }
}

.banner-tag {
    background-color: black;
    margin-top: 300px;
    text-align: center;
}

@media screen and (max-device-width: 420px) {
    .banner-tag {
        margin-top: 250px;
    }
}

.banner-tag p {
    padding-bottom: 4px;
}

h1 {
    font-size: 3.3rem; /*  h2  */
    padding-top: 4px;
    margin-bottom: -.75px;
}


.mid {
    text-align: center;
}

.tea-month {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 300px;
    height: 200px;
}

.logo {
    height: 50px;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: -31px;
    margin-top: -12px;
}

@media screen and (max-device-width: 420px) {
    
    .test {
        margin: -5px auto;
    }
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.locations-background {
    width: 1200px;
    height: 500px;
    display: flex;
    background-image: url("../Images/locations-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    flex-direction: column;

}

.locations-block {
    display:flex;
    flex-direction: row;
}


.locations {
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.locations p, h3 {
    text-align: center;
}

.east {
    margin-left: 40px;
    margin-right: 40px
}

@media screen and (max-device-width: 1010px) {

    .locations-block {
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: space-around;
        align-content: space-around;

    }

    .locations {
        height: 250px;
        width: 250px;
    }

    .locations p {
        font-size: 1.6rem;
    }

    .locations h3 {
        font-size: 2rem;
    }

    .east {
        margin-left: 20px;
        margin-right: 20px
    }

    .locations-background h2 {
        margin-top: 50px;
    }
}

@media screen and (max-device-width: 810px) {

    .locations-block {
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: space-around;
        align-content: space-around;

    }

    .locations {
        height: 200px;
        width: 200px;
    }

    .locations p {
        font-size: 1.4rem;
    }

    .locations h3 {
        font-size: 1.6rem;
    }

    .east {
        margin-left: 10px;
        margin-right: 10px
    }

    .locations-background h2 {
        margin-top: 90px;
    }
}

@media screen and (max-device-width: 640px) {

    .locations-background h2 {
        margin-top: 10px;
        margin-bottom: 7px;
    }

    .locations {
        width: 200%;
        margin-bottom: -17.5%;
    }

    .east {
        margin: 0;
        margin-bottom: -17.5%;
    }

    .locations p {
        line-height: -25px;
    }

    .locations p {
        font-size: 1.1rem;
    }

    .locations h3 {
        font-size: 1.6rem;
        text-decoration: underline;
    }

}


footer {
    text-align: center;
}

.footer-div {
    height: 200px;
}

footer p {
    font-size: 1.826rem
}

.copyright {
    font-size: 1.826rem;
    text-align: left;
    margin-left: 10px;
}