html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 2.2rem;
    color: seashell;
    opacity: 0.9;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
header {
    background-color: orange;
}


nav {
    background-color: blue;
    border-bottom: 1px solid seashell;
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    margin-right: 10px;
    align-items: space-between;
}

li {
    margin-left: 30px;
}

.top {
    display: flex;
    justify-content: center;
}


.banner {
    display: block;
    height: 700px;
    width: 1200px;
    background: url("../Images/mission-background.webp");
    background-size: cover;
}

.banner-tag {
    background-color: black;
    margin-top: 300px;
    text-align: center;
}

.banner-tag p {
    padding-bottom: 4px;
}

h1 {
    font-size: 3.3rem; /*  h2  */
    padding-top: 4px;
    margin-bottom: -.75px;
}


.mid {
    text-align: center;
}

.tea-month {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 300px;
    height: 200px;
}

.logo {
    height: 50px;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: -31px;
    margin-top: -12px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.locations-background {
    width: 1200px;
    height: 500px;
    display: flex;
    background-image: url("../Images/locations-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.locations-block {
    display:flex;
    flex-direction: row;
}

.locations {
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.locations p, h3 {
    text-align: center;
}

.east {
    margin-left: 40px;
    margin-right: 40px
}

footer {
    text-align: center;
}

.footer-div {
    height: 200px;
}

footer p {
    font-size: 1.826rem
}

.copyright {
    font-size: 1.826rem;
    text-align: left;
    margin-left: 10px;
}